pymoo==0.4.2.2
pandas==1.2.3
numpy==1.19.2
matplotlib==3.3.4
openpyxl==3.0.7
rasterio==1.2.6
click>=7.1.2
flask>=1.1.4
flask-cors==3.0.10
flask-restx==0.4.0
waitress>=2.0.0
environ-config==20.1.0
Werkzeug==1.0.1